---
layout: default
---
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?23e2fba4a9ee47e00000d658a6f021db";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<div class="home">
  <a class="rss-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a>
  <h1 class="page-heading">Articles</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>

        <div class="post-excerpt">
          {{ post.excerpt }}
          <p>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More &raquo;</a>
          </p>
        </div>
      </li>
    {% endfor %}
  </ul>
  
  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">PREV</a>
  {% else %}
    <span class="previous">PREV</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">NEXT</a>
  {% else %}
    <span class="next ">NEXT</span>
  {% endif %}
</div>

</div>
